---
#----------------------
# Openstack Networking
#----------------------
# Network:
# network_name: os_default_network
#
# Subnet:
# subnet_name: os_default_subnet
# cidr: 192.168.31.0/24
# dns:
#   - 8.8.8.8
#   - 8.8.4.4
# gateway_ip: 192.168.31.254
# dhcp_pool_start: 192.168.31.1
# dhcp_pool_end: 192.168.31.253
# gateway_ip, dhcp_pool_*は自動で設定されるため、CIDRのみの指定で動作します。
# gateway_ip, dhcp_pool_*を個別に指定する場合は、上記のSubnet:のパラメータは全て入力してください。
#
#
# Router:
# router_name: os_default_router
# external_network: fip-net
#
# Security Groups:
# use_my_ip: "yes"
# zbx_server_addr: 127.0.0.1
# security_groups:
#   - os_default_sg1
# security_group_rules:
#   - { name: "winrm_http", security_group: "ansible-test-sg1" , protocol: "tcp", port_range_min: "5985", port_range_max: "5985", remote_ip_prefix: "{{ ipify_public_ip }}/32" }
#   - { name: "winrm_https", security_group: "ansible-test-sg1", protocol: "tcp", port_range_min: "5986", port_range_max: "5986", remote_ip_prefix: "{{ ipify_public_ip }}/32" }
#   - { name: "rdp", security_group: "ansible-test-sg1", protocol: "tcp", port_range_min: "3389", port_range_max: "3389", remote_ip_prefix: "{{ ipify_public_ip }}/32" }
#   - { name: "zabbix", security_group: "ansible-test-sg1", protocol: "tcp", port_range_min: "10050", port_range_max: "10050", remote_ip_prefix:  "{{ zbx_server_addr }}/32" }
#   - { name: "zabbix", security_group: "ansible-test-sg1", protocol: "tcp", port_range_min: "3389", port_range_max: "3389", remote_ip_prefix: "{{ zbx_server_addr }}/32" }
#   - { name: "zabbix", security_group: "ansible-test-sg1", protocol: "icmp", remote_ip_prefix: "{{ zbx_server_addr }}/32" 


#----------------------
# API Common
#----------------------
# Include clouds.yml
# os_cloud: default


#----------------------
# API Firewall
#----------------------
# Firewall Rules
# firewall_rules:
#   - {"fw_action": "allow", "fw_protocol": "tcp", "fw_port": "80", "fw_rule_name": "allow_http"} 
#   - {"fw_action": "allow", "fw_protocol": "tcp", "fw_port": "443", "fw_rule_name": "allow_https"} 
# 
# # API Firewall Policy
# firewall_policy_name: os_ansible_policy
# 
# # API Firewall
# firewall_name: os_ansible_firewall


#----------------------
# Openstack Compute
#----------------------
# Keypair
# import_key: "yes"|"no"
# import_key: "no"
# server_security_group: os_default_sg1 (未指定の場合、defaultで作成したセキュリティグループが自動で追加される。)
# public_key_name: os_ansible_key
# public_key_file: os_ansible_key.pub
# private_key_file: os_ansible_key.pem
# output_dir: files
# ↓パブリックキーをインポートする時に指定する↓
# users_public_key: /home/user/.ssh/id_rsa.pub

# Create Server
# server_name: "os_default_windows_hourly"
# server_flavor: "C3-2"
# key_pair: os_ansible_key.pub
# volume_name: "os_default_volume1"
# volume_image: "[Hourly] Windows Server 2019 SE 64bit (Japanese) 02"
# volume_size: 80
# volume_image: "CentOS 7.8 64bit (English) 01"
# volume_size: 40

# Add Host
# group: "winservers"